# Improving Employee Retention by Predicting Employee Attrition Using Machine Learning

## Background

A technology startup is experiencing high employee turnover and the company lacks a deep understanding of the primary reasons why employees are choosing to resign. We assumed to be working in the Data Scientist team and we are expected to provide comprehensive data analysis to identify the contributing factors.

## Problem

The primary problem facing the company is high employee turnover. This not only increases recruitment and training costs but can also disrupt team productivity and ongoing projects. The company needs effective solutions to reduce turnover and improve employee retention.

## Goals

Identify the key factors tha lead to employees to resign and build a predictive model to anticipate employees who are likely to resign in the future. This model will enable the company to take proactive measures.

## Data

In [1]:
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_excel('Improving Employee Retention by Predicting Employee Attrition Using Machine Learning.xlsx')

# EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 282 non-null    float64
 12  JumlahKeikutsertaanProjek           284 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 14  JumlahKetidakhadiran                281 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  PernahBekerja                       287 non-null    object
 19  IkutProgramLOP                      29 non-null     float64
 20  AlasanResign                        221 non-null    object
 21  TanggalLahir                        287 non-null    object
 22  TanggalHiring                       287 non-null    object
 23  TanggalPenilaianKaryawan            287 non-null    object
 24  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 56.2+ KB

The data has a total of 25 columns and 287 rows.
Columns 'Username', 'EnterpriseID', 'Email', 'NomorHP' are the columns unique to each employees. 
- 'Username': Username for each employee
- 'EnterpriseID': ID for each employee
- 'StatusPernikahan': Marriage status 
- 'JenisKelamin': Gender
- 'StatusKepegawaian': Employee status
- 'Pekerjaan': Job position
- 'JenjangKarir': Progression of an employee's career
- 'PerformancePegawai': Employee's performance
- 'AsalDaerah': Area of origin 
- 'HiringPlatform': The platform where employees got hired
- 'SkorSurveyEngagement': Engagement survey score
- 'SkorKepuasanPegawai': Employee satisfaction score
- 'JumlahKeikutsertaanProjek': Number of project participation
- 'JumlahKeterlambatanSebulanTerakhir': Number of Late Arrivals in the Past Month
- 'JumlahKetidakhadiran': Number of Absences
- 'NomorHP': Phone number
- 'Email': Email 
- 'TingkatPendidikan': Level of Education 
- 'PernahBekerja': Previously Worked
- 'IkutProgramLOP': Participated in the LOP Program
- 'AlasanResign': Reason for Resignation
- 'TanggalLahir': Date of Birth
- 'TanggalHiring': Date of Joining the company
- 'TanggalPenilaianKaryawan': Date of Employee Performance Review
- 'TanggalResign': Date of Resignation

In [4]:
df.sample(5)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
70,blissfulGnu4,106501,Lainnya,Wanita,Outsource,Software Engineer (Android),Mid_level,Kurang,Jakarta Selatan,Indeed,...,+6283206252xxx,blissfulGnu4786@hotmail.com,Magister,1,NaN,masih_bekerja,1986-07-24,2012-11-05,2020-2-13,-
138,thriftyMoth4,101511,Lainnya,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Kurang,Jakarta Selatan,Google_Search,...,+6289570871xxx,thriftyMoth4270@icloud.com,Sarjana,1,NaN,masih_bekerja,1974-12-21,2009-01-05,2019-02-05,-
207,troubledQuiche5,106480,Menikah,Wanita,FullTime,Software Engineer (Front End),Mid_level,Sangat_bagus,Jakarta Pusat,Indeed,...,+6285896075xxx,troubledQuiche5924@icloud.com,Sarjana,1,NaN,leadership,1972-11-21,2017-01-07,2020-02-06,2013-5-30
139,gleefulKitten1,106347,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Pusat,Google_Search,...,+6287713961xxx,gleefulKitten1142@outlook.com,Sarjana,1,NaN,masih_bekerja,1988-03-17,2011-01-10,2018-04-06,-
189,grudgingMeerkat3,106008,Belum_menikah,Wanita,Outsource,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Timur,CareerBuilder,...,+6285714869xxx,grudgingMeerkat3383@proton.com,Sarjana,1,NaN,NaN,1986-04-17,2011-01-10,2017-02-03,-

In [5]:
cat_var = df.drop(columns=['Username','EnterpriseID','NomorHP','Email'])


for i in cat_var:
    print("-" * 30) 
    print(f'Columns: {i}')
    print(cat_var[i].value_counts())
print("=" * 30)

------------------------------
Columns: StatusPernikahan
StatusPernikahan
Belum_menikah    132
Menikah           57
Lainnya           48
Bercerai          47
-                  3
Name: count, dtype: int64
------------------------------
Columns: JenisKelamin
JenisKelamin
Wanita    167
Pria      120
Name: count, dtype: int64
------------------------------
Columns: StatusKepegawaian
StatusKepegawaian
FullTime      217
Outsource      66
Internship      4
Name: count, dtype: int64
------------------------------
Columns: Pekerjaan
Pekerjaan
Software Engineer (Back End)      109
Software Engineer (Front End)      72
Software Engineer (Android)        24
Product Design (UI & UX)           24
Product Manager                    17
Data Analyst                       16
Data Engineer                      10
Scrum Master                        3
Software Engineer (iOS)             3
DevOps Engineer                     3
Digital Product Manager             2
Machine Learning Engineer           2
Product Design (UX Researcher)      1
Software Architect                  1
Name: count, dtype: int64
------------------------------
Columns: JenjangKarir
JenjangKarir
Freshgraduate_program    169
Mid_level                 70
Senior_level              48
Name: count, dtype: int64
------------------------------
Columns: PerformancePegawai
PerformancePegawai
Biasa            85
Bagus            74
Sangat_bagus     73
Kurang           31
Sangat_kurang    24
Name: count, dtype: int64
------------------------------
Columns: AsalDaerah
AsalDaerah
Jakarta Pusat      72
Jakarta Timur      63
Jakarta Barat      55
Jakarta Utara      52
Jakarta Selatan    45
Name: count, dtype: int64
------------------------------
Columns: HiringPlatform
HiringPlatform
Indeed                     85
LinkedIn                   69
Google_Search              46
Diversity_Job_Fair         27
Employee_Referral          24
CareerBuilder              22
Website                    11
Other                       2
On-line_Web_application     1
Name: count, dtype: int64
------------------------------
Columns: SkorSurveyEngagement
SkorSurveyEngagement
3    132
4     96
2     43
1     14
5      2
Name: count, dtype: int64
------------------------------
Columns: SkorKepuasanPegawai
SkorKepuasanPegawai
3.0    96
5.0    91
4.0    85
2.0     8
1.0     2
Name: count, dtype: int64
------------------------------
Columns: JumlahKeikutsertaanProjek
JumlahKeikutsertaanProjek
0.0    221
6.0     20
5.0     20
7.0      9
4.0      8
3.0      3
1.0      1
2.0      1
8.0      1
Name: count, dtype: int64
------------------------------
Columns: JumlahKeterlambatanSebulanTerakhir
JumlahKeterlambatanSebulanTerakhir
0.0    255
4.0      8
3.0      6
2.0      6
5.0      5
6.0      5
1.0      1
Name: count, dtype: int64
------------------------------
Columns: JumlahKetidakhadiran
JumlahKetidakhadiran
4.0     20
2.0     20
15.0    19
7.0     17
16.0    17
6.0     16
14.0    16
3.0     16
19.0    15
13.0    15
17.0    14
1.0     14
20.0    13
9.0     12
11.0    12
10.0    10
8.0     10
5.0      9
12.0     7
18.0     7
50.0     1
55.0     1
Name: count, dtype: int64
------------------------------
Columns: TingkatPendidikan
TingkatPendidikan
Sarjana     176
Magister     87
Doktor       24
Name: count, dtype: int64
------------------------------
Columns: PernahBekerja
PernahBekerja
1      286
yes      1
Name: count, dtype: int64
------------------------------
Columns: IkutProgramLOP
IkutProgramLOP
1.0    15
0.0    14
Name: count, dtype: int64
------------------------------
Columns: AlasanResign
AlasanResign
masih_bekerja               132
jam_kerja                    16
ganti_karir                  14
kejelasan_karir              11
tidak_bisa_remote            11
toxic_culture                10
leadership                    9
tidak_bahagia                 8
internal_conflict             4
Product Design (UI & UX)      4
apresiasi                     2
Name: count, dtype: int64
------------------------------
Columns: TanggalLahir
TanggalLahir
1987-06-14    2
1976-09-22    2
1984-07-07    2
1972-07-01    1
1965-05-07    1
             ..
1970-05-15    1
1991-01-28    1
1970-04-24    1
1987-01-07    1
1981-08-10    1
Name: count, Length: 284, dtype: int64
------------------------------
Columns: TanggalHiring
TanggalHiring
2011-01-10    12
2015-01-05    11
2015-3-30      9
2014-9-29      9
2013-9-30      9
              ..
2016-07-04     1
2012-4-30      1
2014-5-18      1
2011-1-21      1
2012-8-16      1
Name: count, Length: 97, dtype: int64
------------------------------
Columns: TanggalPenilaianKaryawan
TanggalPenilaianKaryawan
2020-1-14     17
2020-2-18     12
2020-1-21     10
2020-1-28      9
2020-2-25      9
              ..
2015-03-04     1
2014-04-02     1
2018-03-02     1
2014-2-20      1
2014-04-05     1
Name: count, Length: 127, dtype: int64
------------------------------
Columns: TanggalResign
TanggalResign
-             198
2018-04-01      9
2014-8-19       9
2018-06-08      9
2017-11-15      9
2013-5-30       4
2020-8-19       2
2014-9-24       2
2015-04-01      1
2016-01-11      1
2016-10-31      1
2017-12-15      1
2015-6-18       1
2014-04-07      1
2017-4-15       1
2015-06-05      1
2017-11-14      1
2018-9-15       1
2019-9-26       1
2017-09-05      1
2016-4-24       1
2017-06-04      1
2016-01-09      1
2017-12-12      1
2016-3-31       1
2015-4-15       1
2020-9-26       1
2020-4-29       1
2015-01-09      1
2018-11-15      1
2018-6-16       1
2018-09-06      1
2019-01-12      1
2018-9-19       1
2019-04-06      1
2019-08-04      1
2017-09-12      1
2016-04-04      1
2018-2-19       1
2016-08-07      1
2015-6-15       1
2016-08-02      1
2015-01-07      1
2013-9-26       1
2018-9-23       1
2017-11-04      1
2019-06-06      1
2020-9-27       1
2020-2-25       1
2017-3-15       1
2018-5-17       1
2015-6-24       1
2017-6-25       1
Name: count, dtype: int64
==============================

In [6]:
# Change data types to data time

timestamp_var = ['TanggalLahir','TanggalHiring','TanggalPenilaianKaryawan']
for i in timestamp_var:
    df[i] = pd.to_datetime(df[i])

There is '-' value in 'TanggalResign', hence, it cant be replaced with date time data type

In [7]:
df.describe()

,EnterpriseID,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,IkutProgramLOP,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan
count,287.000000,287.000000,282.000000,284.000000,286.000000,281.000000,29.000000,287,287,287
mean,105923.324042,3.101045,3.904255,1.179577,0.412587,10.448399,0.517241,1979-02-14 01:15:15.679442496,2013-02-04 23:14:50.592334592,2018-09-29 18:48:55.191637504
min,100282.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1951-01-02 00:00:00,2006-01-09 00:00:00,2011-07-14 00:00:00
25%,101269.000000,3.000000,3.000000,0.000000,0.000000,5.000000,0.000000,1973-12-03 00:00:00,2011-07-11 00:00:00,2017-05-03 12:00:00
50%,106069.000000,3.000000,4.000000,0.000000,0.000000,10.000000,1.000000,1980-09-30 00:00:00,2013-04-01 00:00:00,2020-01-16 00:00:00
75%,110514.500000,4.000000,5.000000,0.000000,0.000000,15.000000,1.000000,1986-05-31 00:00:00,2014-08-18 00:00:00,2020-02-04 00:00:00
max,111703.000000,5.000000,5.000000,8.000000,6.000000,55.000000,1.000000,1992-08-17 00:00:00,2018-07-09 00:00:00,2020-02-28 00:00:00
std,4044.977599,0.836388,0.913355,2.294441,1.275016,6.902252,0.508548,NaN,NaN,NaN

In [8]:
# Check Duplicate Value
df[df.duplicated()]

Empty DataFrame
Columns: [Username, EnterpriseID, StatusPernikahan, JenisKelamin, StatusKepegawaian, Pekerjaan, JenjangKarir, PerformancePegawai, AsalDaerah, HiringPlatform, SkorSurveyEngagement, SkorKepuasanPegawai, JumlahKeikutsertaanProjek, JumlahKeterlambatanSebulanTerakhir, JumlahKetidakhadiran, NomorHP, Email, TingkatPendidikan, PernahBekerja, IkutProgramLOP, AlasanResign, TanggalLahir, TanggalHiring, TanggalPenilaianKaryawan, TanggalResign]
Index: []

[0 rows x 25 columns]

There is no duplicate data in this dataset

In [9]:
# Check Missing Value
df.isnull().sum()

Username                                0
EnterpriseID                            0
StatusPernikahan                        0
JenisKelamin                            0
StatusKepegawaian                       0
Pekerjaan                               0
JenjangKarir                            0
PerformancePegawai                      0
AsalDaerah                              0
HiringPlatform                          0
SkorSurveyEngagement                    0
SkorKepuasanPegawai                     5
JumlahKeikutsertaanProjek               3
JumlahKeterlambatanSebulanTerakhir      1
JumlahKetidakhadiran                    6
NomorHP                                 0
Email                                   0
TingkatPendidikan                       0
PernahBekerja                           0
IkutProgramLOP                        258
AlasanResign                           66
TanggalLahir                            0
TanggalHiring                           0
TanggalPenilaianKaryawan                0
TanggalResign                           0
dtype: int64

Missing values can be seen on several columns; 
- 'SkorKepuasanPegawai' has minimal missing values (5) and the overall data distribution is near normal, hence, the missing values will be filled with median as it is more robust.
- 'JumlahKeikutsertaanProjek', 'JumlahKeterlambatanSebulanTerakhir' and 'JumlahKetidakhadiran' also have minimal missing values, (3), (1) and (6), respectively. Median will be used to fill in missing values.
- 'AlasanResign'= In this columns, there are 66 missing values, which may implies to the employees that are still working in the company. The missing value (66) added up with the 'masih_bekerja' value (132), equal to 198 which is in line with the column 'TanggalResign' that has '-' values. Hence, the missing value will be filled with 'masih_bekerja'
- 'IkutProgramLOP' has the most missing values, almost 90% of its data. Hence, the missing value will be replaced with unknown value. 
- In column 'StatusPernikahan', there is 3 '-' values which will be replaced with the column's mode.

In [10]:
df['StatusPernikahan'] = df['StatusPernikahan'].replace('-',df['StatusPernikahan'].mode().iloc[0])
df['AlasanResign'] = df['AlasanResign'].fillna(df['AlasanResign'].mode().iloc[0])
df['SkorKepuasanPegawai'] = df['SkorKepuasanPegawai'].fillna(df['SkorKepuasanPegawai'].median())
df['JumlahKeikutsertaanProjek'] = df['JumlahKeikutsertaanProjek'].fillna(df['JumlahKeikutsertaanProjek'].median())
df['JumlahKeterlambatanSebulanTerakhir'] = df['JumlahKeterlambatanSebulanTerakhir'].fillna(df['JumlahKeterlambatanSebulanTerakhir'].median())
df['JumlahKetidakhadiran'] = df['JumlahKetidakhadiran'].fillna(df['JumlahKetidakhadiran'].median())
df['IkutProgramLOP'] = df['IkutProgramLOP'].fillna('Unknown')

In [11]:
df.PernahBekerja.value_counts()

PernahBekerja
1      286
yes      1
Name: count, dtype: int64

In [12]:
# drop column PernahBekerja as it has only one unique value
df_drop = df.drop(columns='PernahBekerja')